<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <form action="/submit" method="post">
        <div class="step" id="Question1">
            <h2> 1: Have you ever been told by a doctor, nurse or other health professional that you have high blood
                pressure? </h2>

            <input type="radio" id="yes1" name="hBP" value="yes">
            <label for="yes">Yes</label><br>
            <input type="radio" id="no1" name="hBP" value="no">
            <label for="no">No</label><br>

        </div>
        <div class="step" id="Question2">
            <h2> 2: Have you ever been told by a doctor, nurse or other health professional that you have High
                cholesterol? </h2>
            <input type="radio" id="yes2" name="hChos" value="yes">
            <label for="yes">Yes</label><br>
            <input type="radio" id="no2" name="hChos" value="no">
            <label for="no">No</label><br>

        </div>
        <div class="step" id="Question3">
            <h2> 3: Have you had your cholesterol checked in the last 5 years?
            </h2>
            <input type="radio" id="yes3" name="chos5Ys" value="yes">
            <label for="yes">Yes</label><br>
            <input type="radio" id="no3" name="chos5Ys" value="no">
            <label for="no">No</label><br>

        </div>
        <div class="step" id="Question4">
            <h2> 4: Please enter your BMI</h2>
            <label for="question1"></label>
            <input type="text" id="text1" name="question1"><br>

        </div>

        <div class="step" id="Question4">
            <h2> 5: Have you smoked at least 5 packs of cigarettes in your entire life?</h2>
            <input type="radio" id="yes3" name="smoke" value="yes">
            <label for="yes">Yes</label><br>
            <input type="radio" id="no3" name="smoke" value="no">
            <label for="no">No</label><br>

        </div>

        <!-- Add more steps here -->

        <div class="button-container">
            <button type="button" onclick="prevStep()">Previous</button>
            <button type="button" onclick="nextStep()">Next</button>
            <input type="submit" id="submitBtn" value="Submit" style="display: none;">
        </div>
    </form>

</body>

</html>